<h1>{{description}}</h1>
<div>
  <address>
    <span class="name">{{name}}</span> | {{address}} {{city}}, {{state}} {{zip}} | {{email}} | {{phone}}
  </address>
  <div>
    <h3>Technologies</h3>
    <table class="table table-sm">
      <tr>
        <td>Git/GitHub</td>
        <td>SQL</td>
        <td>C#</td>
      </tr>
      <tr>
        <td>EF</td>
        <td>MVC</td>
        <td>WebApi</td>
      </tr>
      <tr>
        <td>Html</td>
        <td>Css</td>
        <td>JavaScript</td>
      </tr>
      <tr>
        <td>jQuery</td>
        <td>Typescript</td>
        <td>Angular</td>
      </tr>
    </table>
  </div>
  <app-work-experience></app-work-experience>
  <app-education></app-education>
</div>