<div>
  <address>
    <span class="name">{{name}}</span> | {{address}} {{city}}, {{state}} {{zip}} | {{email}} | {{phone}}
  </address>
  <div>
    <h3>Technologies</h3>
    <table class="table table-sm">
      <tr>
        <td>Git/GitHub</td>
        <td>SQL</td>
        <td>C#</td>
      </tr>
      <tr>
        <td>EF</td>
        <td>MVC</td>
        <td>WebApi</td>
      </tr>
      <tr>
        <td>Html</td>
        <td>Css</td>
        <td>JavaScript</td>
      </tr>
      <tr>
        <td>jQuery</td>
        <td>Typescript</td>
        <td>Angular</td>
      </tr>
    </table>
  </div>
  <div>
    <h3>Work Experience</h3>
    <div>
      {{workExperiences[0].company}}, {{workExperiences[0].job}}, {{workExperiences[0].time}}
      <br>
      <ul>
        <li>{{workExperiences[0].values[0]}}</li>
        <li>{{workExperiences[0].values[1]}}</li>
      </ul>
    </div>
    <div>
      {{workExperiences[1].company}}, {{workExperiences[1].job}}, {{workExperiences[1].time}}
      <br>
      <ul>
        <li>{{workExperiences[1].values[0]}}</li>
        <li>{{workExperiences[1].values[1]}}</li>
      </ul>
    </div>
  </div>
  <div>
    <h3>Education</h3>
    <ul>
      <li>{{schools[0].school}}, {{schools[0].degree}}, {{schools[0].year}}</li>
      <li>{{schools[1].school}}, {{schools[1].degree}}, {{schools[1].year}}</li>
      <li>{{schools[2].school}}, {{schools[2].degree}}, {{schools[2].year}}</li>
    </ul>
  </div>
</div>