<div>
    <h3>Work Experience</h3>
    <div>
      {{workExperiences[0].company}}, {{workExperiences[0].job}}, {{workExperiences[0].time}}
      <br>
      <ul>
        <li>{{workExperiences[0].values[0]}}</li>
        <li>{{workExperiences[0].values[1]}}</li>
      </ul>
    </div>
    <div>
      {{workExperiences[1].company}}, {{workExperiences[1].job}}, {{workExperiences[1].time}}
      <br>
      <ul>
        <li>{{workExperiences[1].values[0]}}</li>
        <li>{{workExperiences[1].values[1]}}</li>
      </ul>
    </div>
  </div>
